
#mainNav {
  height: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  padding: 16px;
}

#searchButton {
  height: 56px;
  
}

#outlined-search {
  width: 40vh;
}

#ListingForm {
  width: 80vh;
  padding: 20px;
  margin: auto;
  
}