
#mainNav {
  height: 50px;
  
  text-align: right;
  padding: 16px;
}

#searchButton {
  height: 56px;
  
}

#outlined-search {
  width: 40vh;
}

#ListingForm {
  width: 80vh;
  padding-top: 100px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  
}

#ItemPage {
  width: 80vh;
  padding-top: 100px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

#ItemTxt {
  padding-top: 20px;
}